<<<<<<< HEAD
{% schema %}
{
  "name": "Article Template",
  "settings": [],
  "blocks": []
}
{% endschema %}

<h1>{{ article.title }}</h1>
=======
{% schema %}
{
  "name": "Article Template",
  "settings": [],
  "blocks": []
}
{% endschema %}

<h1>{{ article.title }}</h1>
>>>>>>> ee60dc1151f57a77f38f46e2ab534fc5805c5ecf
<p>{{ article.content }}</p>